<%= render 'answer_form' %>
<div class="questionheader">
  Question by <%= link_to @question.user.username, user_path(@question.user.id)%>
  <%= @question.created_at.strftime("%b %e, %l:%M %p") %>
	<br><strong><%= @question.title %></strong><br>
	 <%= @question.body %>
</div>

<div class="answersheader">
	<h3>Answers: <%= @answers.size %></h3>
	Order by:
	<%= link_to "new", {controller: "questions", action: "show", :order => "new"} %> |
	<%= link_to "top voted", {controller: "questions", action: "show", :order => "votesdesc"} %>
</div>
<%= render 'answers' %>

<%= stylesheet_link_tag "app/stylesheets/index.css.scss" %>