<h1><%= @question.title %></h1>
<hr>
<p><b>Question:</b>  <%= @question.body %></p>
<hr>

<h3>Answers: <%= @answers.size %></h3>
<hr>
<% @answers.each do |answer| %>
<div class="answers_container" id=<%= answer.id %>>
  <p><img class="vote_arrow" src="http://www.iconsdb.com/icons/download/black/arrow-206-512.gif">
  	<b>Answer:</b>  <%= answer.body %></p>

  	<div class="responselink"><%= link_to "Respond", new_answer_response_path(@question), remote: true, class: 
  	"#{answer.id}" %> </div> 


  <p>Vote Count:  <%= answer.votes.size %></p>
  <% answer.responses.each do |response| %>
  <p><b>Response:</b>  <%= response.body %></p>
  <% end %>
</div>
<hr>
<% end %>

<%= render 'answer_form' %>