<h2>Edit Profile</h2>
<div class="form_container">
<%= form_for current_user do |f| %>
  <%= f.label 'Username' %><br>
  <%= f.text_field :username %><br>

  <%= f.label 'About Me' %><br>
  <%= f.text_area :about, size: "50x15"%><br>
  <%= f.submit class:"button"%>
<% end %>
</div>

<%= stylesheet_link_tag "app/stylesheets/index.css.scss" %>