<div id="welcome">
  <div class="form_container">
      <h1>Mac_Overflow</h1>

      <%= button_to "Sign Up", id:"signup", remote: true%>
      <%= button_to "Log In", id:"login", remote: true%>
      <!-- USE JS TO REVEAL EACH FORM -->
 
    </div><br>

  <div class="signup">

    <%=form_for :user, url: users_path do |f| %>
      Username: <%= f.text_field :username %>
      Password: <%= f.password_field :password  %>
      <%= f.submit %>
    <%end %>
  </div>


   <div class="login">
    <%=form_for :user do |f| %>
      Username: <%= f.text_field :username %>
      Password: <%= f.password_field :password  %>
      <%= f.submit %>
    <%end %>
  </div>