<section class="user_about_section">
	<p class="about_title">About:</p>
	<article class="text_area">
		<% if @user.about == nil %>
			Help people know more about you
		<% else %>
			<%= @user.about %>
		<% end %>
	</article>
</section>

<div class="username_container">
	<h1 class="username"><%= @user.username %>
	<% if current_user != nil && @user == current_user  %>
		<span class="edit_user_button"><%= link_to 'Edit', edit_user_path(@user) %></span>
	<% end %>
	</h1>
</div>

<div id="accordion">

	<h3 class="accordion_title">QUESTIONS SUBMITTED: <%= @user.questions.size %></h3>
		<div class="question accordion_divs">
			<% count = 1 %>
			<% @user.questions.each do |q| %>
					<a href="<%= question_url(q) %>"><%= count %>. <strong><%= q.title %></strong></a><br>
					<%= q.body %><br>
					<% if current_user != nil && @user == current_user  %>
						<%= link_to 'Delete', question_path(q), method: :delete %><br>
					<% end %>
					<% count += 1 %>
			<% end %>
		</div>

	<h3 class="accordion_title">ANSWERS SUBMITTED: <%= @user.answers.size %></h3>
	  <div class="answer accordion_divs">
			<% count = 1 %>
			<% @user.answers.each do |a| %>
				<%="#{count}. #{a.body} "%><br>
				<% if current_user != nil && @user == current_user  %>
					<%= link_to 'Delete', answer_path(a), method: :delete %><br>
				<% end %>
				<% count += 1 %>
			<% end %>
		</div>


	<h3 class="accordion_title">COMMENTS SUBMITTED: <%= @user.responses.size %></h3>
		<div class="comment accordion_divs">
			<% count = 1 %>
			<% @user.responses.each do |r| %>
				<%="#{count}. #{r.body} "%><br>
				<% if current_user != nil && @user == current_user  %>
					<%= link_to 'Delete', response_path(r), method: :delete %><br>
				<% end %>
				<% count += 1 %>
			<% end %>
		</div>

<% if current_user != nil && @user == current_user  %>
		<span class="edit_user_button"><%= link_to 'Edit Profile', edit_user_path(@user) %></span>
	<% end %>
</div>

