<section class="signin_lightbox">

  <%=form_for User.new do |f| %>
    <%=f.label :username %>&nbsp;&nbsp;
    <%=f.text_field :username %><br>

    <%=f.label :password %>&nbsp;&nbsp;   
    <%=f.password_field :password %><br>

    <%=f.label :password_confirmation %>&nbsp;&nbsp;
    <%=f.password_field :password_confirmation %><br><br>

    <%=f.submit "Sign Up" , class:"button" %>
  <%end%>
</section>